/* Add this CSS to your index.css file */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark text color */
  }
  
  h1 {
    font-size:50px;
    text-align: center;
    color: #007bff; /* Blue heading color */
  }
  
  form {
    float: left;
    width: 30%; /* Adjust the width as needed */
    margin: 20px;
    padding: 20px;
    background-color: #fff; /* White background for the form container */
    box-shadow: 0 0 10px rgba(44, 8, 102, 0.1);
    border-radius: 2%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  table {
    float: right;
    width: 45%; /* Adjust the width as needed */
    margin: 20px;
    border-collapse: collapse;
  }
  
  th,
  td {
    border-radius:12px;
    padding: 10px;
 /* Light gray border */
  }
  
  th {
    background-color: #007bff; /* Blue header background */
    color: #fff; /* White text color */
  }
  
  tbody {
    background-color: #fff; /* White background for table body */
  }
  
  button {
    background-color: #dc3545; /* Red button background */
    color: #fff; /* White text color */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #c82333; /* Darker red on hover */
  }
  /* Add this CSS to your existing styles in index.css */

input[type="submit"] {
    background-color: #1512d4e3; /* Green submit button background */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add smooth transition for background color */
    border-radius:10px;
  }
  
  input[type="submit"]:hover {
    background-color: #1434c4; /* Darker green on hover */
  }
  